

{{#if multiline}}
<div class="textarea-holder">
  <label for="text-{{fieldslug}}">{{label}}</label>
  <textarea
    id="text-{{fieldslug}}"
    class="textbox autosize"
    type="text"
    {{#unless nameless}}name="{{fieldslug}}"{{/unless}}
    spellcheck="false"
    {{#disabled}} disabled{{/disabled}}
    >{{default}}</textarea>

</div>
{{else}}
<div class="textbox-holder">
	{{#prelabel}}<label for="text-{{fieldslug}}">{{this}}</label>{{/prelabel}}
	<input
		id="text-{{fieldslug}}"
		class="textbox"
		type="text"
		{{#unless nameless}}name="{{fieldslug}}"{{/unless}}
		spellcheck="false"
		value="{{default}}"
		{{#placeholder}} placeholder="{{this}}"{{/placeholder}}
		{{#maxLength}} maxlength="{{this}}"{{/maxLength}}
		{{#pattern}} pattern="{{this}}"{{/pattern}}
		{{#disabled}} disabled title="{{this}}"{{/disabled}}
		{{#unless disabled}}{{#title}} title="{{this}}"{{/title}}{{/unless}}
		/>
	{{#label}}<label for="text-{{fieldslug}}">{{this}}</label>{{/label}}
</div>
{{/if}}
